
@{
    ViewData["Title"] = "ChitietSp";
    Layout = "~/Views/Shared/ShopLayout.cshtml";
}

@model Fashion_Web.Models.TDanhMucSp
<h1>ChitietSp</h1>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/ResourceTemplale/images/@($"{Model.AnhDaiDien}.jpg")" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">@Model.TenSp</h2>
                <p>@Model.GioiThieuSp</p>
                <p class="mb-4">@Model.GioiThieuSp</p>
                <p><strong class="text-primary h4">$@Model.Gia</strong></p>
                <div class="mb-1 d-flex">
                    <label for="option-sm" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">Small</span>
                    </label>
                    <label for="option-md" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
                    </label>
                    <label for="option-lg" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg" name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
                    </label>
                    <label for="option-xl" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl" name="shop-sizes"></span> <span class="d-inline-block text-black"> Extra Large</span>
                    </label>
                </div>
                <div class="mb-5">
                    <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary js-btn-minus" type="button">−</button>
                        </div>
                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary js-btn-plus" type="button">+</button>
                        </div>
                    </div>

                </div>
                <p><a href="cart.html" class="buy-now btn btn-sm btn-primary">Add To Cart</a></p>

            </div>
        </div>
    </div>
    <div id="renderreview"></div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GlobalReviewAJAX", "Review")',
            data: { pid: @Model.MaSp },
            success: function (response) {
                $("div#renderreview").html(response)
            }
        });
    });
</script>